@import '../styles/base';

button {
  font-family: $raleway-font;
  border-radius: 5px;
  background-color: $white;
  padding: 0.5%;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

.listDetails {
  display: flex;
  font-size: .85rem;
}

.movieDetails {
  padding: 1rem;
}

.movieDetailsCard {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

.movieDetailsData {
  list-style-type: none;
}

.movieDetailsList {
  list-style-type: none;
  padding-left: 0;
}

.movieInfo {
  flex-direction: column;
  margin-left: 5%;
}

.poster {
  width: 30%;
}

.movieOverview {
  font-size: .85rem;
}

.trailerContainer {
  margin-top: 2.5%;
}

.trailer {
  width: 100%;
}

@media screen and (min-width: 551px) and (max-width: 1024px) {
  .poster {
    width: 50%;
    align-self: center;
  }

  .trailerContainer {
    width: 40%;
  }

  .movieDetailsCard {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .poster {
    width: 100%
  }

  .movieDetailsCard {
    flex-direction: column;
  }

  .trailerContainer {
    display: none;
  }
  
  .trailerContainer > div {
    width: 0;
    height: 0;
  }
}
