@import '../styles/base';

.movieDetails {
  padding: 1rem;
}

.movieDetailsCard {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

.poster {
  width: 30%;
}

.movieInfo {
  flex-direction: column;
  margin-left: 5%;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

.movieOverview {
  font-size: .85rem;
}

.movieDetailsList {
  list-style-type: none;
  padding-left: 0;
}

.movieDetailsData {
  list-style-type: none;
}

.listDetails {
  display: flex;
  font-size: .85rem;
}

.trailerContainer {
  margin-top: 2.5%;
}

.trailer {
  width: 100%;
}

button {
  font-family: $raleway-font;
  border-radius: 5px;
  background-color: $white;
  padding: 0.5%;
}

.movieDisplayContainer {
  display: flex;
}

@media screen and (max-width: 550px) {
  .poster {
    object-fit: contain;
    width: 40%
  }

  .trailerContainer {
    display: none;
  }
}
