@import '../styles/base';

.homeIcon,
.searchIcon,
.sortIcon {
  max-width: 50%;
  min-width: 50%;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

nav {
  @include flexDisplay(flex, space-between);
  align-items: center;
  max-width: 3rem;
  min-width: 3rem;
  border-right: 1px solid #202124;
  margin: 0;
}

.sidebarIcons {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  width: 100%;
}
