@import '../styles/base';

.homeIcon,
.searchIcon {
  width: 80%;
  padding: 1rem;
}

nav {
  @include flexDisplay(flex, space-between);
  align-items: center;
  width: 3.5rem;
  border-right: 1px solid #202124;
  margin: 0;
}

.sidebarIcons {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
}
