.mainHeader {
    height: fit-content;
    background: linear-gradient(45deg, black, transparent);
    display: flex;
}

.randomMovieImage {
        z-index: -1;
        width: 100%;
}

.headerImage {
    width: 100%;
    object-fit: cover;
}

.headerText {
    display: flex;
    justify-content: flex-start;
}