@import '../styles/base';

.appTitle {
  font-size: 2.5rem;
  margin: 0;
  font-family: $londrina-font;
}

.headerImage {
  @extend .headerImageContainer;
}

.headerInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.headerText {
  @include flexDisplay(flex, flex-start);
}

.mainHeader {
  @extend .headerContainer;
  flex-direction: column;
}

.movieHeader {
  display: flex;
}

.randomMovieImage {
  @extend .headerImage;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .headerInfo,
  .headerImage {
    display: none;
  }

  .appTitle {
    white-space: nowrap;
    font-size: 1.5rem;
    padding: 0;
  }

  .headerTitle,
  .headerText {
    font-size: 1rem;
  }

  .headerYear {
    margin: 0;
  }

  header {
    justify-content: space-between;
  }
}
