@import '../styles/base';

.mainHeader {
    @extend .headerContainer;
}

.randomMovieImage {
  @extend .headerImage;
}

.headerImage {
    @extend .headerImageContainer;
}

.headerText {
    @include flexDisplay(flex, flex-start);
}

.appTitle {
  @include flexDisplay(flex, flex-end);
}

.headerStyling {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.headerInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 60%;
}

@media screen and (max-width: 550px) {
  .headerStyling {
    justify-content: center;
    width: 0%;
  }
}

