@import '../styles/base';

.headerContainer {
    @extend .headerContainer;
    flex-direction: column;
}

.headerText {
    @include flexDisplay(flex, flex-start);
}

.headerTitle {
    margin: 0;
}

.year {
    margin-left: 8%;
}

.movieDetailsInfo {
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movieImage {
   @extend .headerImage;
}

.headerImage {
    @extend .headerImageContainer;
}

.movieDetailsSubHeader {
    display: flex;
    justify-content: flex-end;
}

.movieDetailsHeader {
    display: flex;
}

.appTitleDetailsPage {
    font-size: 2.5rem;
    margin: 0;
    font-family: $londrina-font;
}

@media screen and (min-width: 551px) and (max-width: 1024px) {
    .movieDetailsHeader {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 550px) {
    .movieDetailsHeader {
        justify-content: flex-end;
    }

    .movieDetailsInfo,
    .movieImage {
        display: none;
    }

    .appTitleDetailsPage {
        font-size: 1.5rem;
        white-space: nowrap;
        padding: 0;
    }

}
