@import '../styles/base';

.cardDetails {
  display: flex;
  justify-content: space-between;
}

.movieCard {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.moviePosterImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: transform 500ms;
  &:hover {
    transform: scale(1.03);
  }
}

.movieRating {
  margin: auto;
}

.movieTitle {
  margin: 2%;
}

.ratingContainer {
  display: flex;
  align-self: flex-end;
  background-color: $yellow;
  width: 15%;
  padding: 0.10rem;
  border-radius: 5px;
  color: $black;
  margin-bottom: 2%;
}

.star {
  width: 30%;
  margin: auto;
}

@media screen and (max-width: 550px) {
  .movieCard {
      max-width: 100%;
  }
}
