@import '../styles/base';

.movieCard {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.moviePosterImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform 500ms;
}

.moviePosterImage:hover {
    transform: scale(1.03);
}

.viewRatings {
    display: flex;
    align-self: flex-end;
    background-color: $yellow;
    width: 15%;
    padding: 0.25rem;
    border-radius: 5px;
    color: $black;
    margin-left: -19%;
    margin-bottom: 2%;
}

.movieTitle {
    margin: 2%;
}

.movieRating {
    margin: auto;
}

.star {
    width: 30%;
    object-fit: contain;
    margin: auto;
}
