body {
  background-color: #1B2B7B;
  color: #FFF;
  font-family: 'Raleway',
  sans-serif;
}

h1 {
  font-size: 3rem;
}

header {
  display: flex;
  justify-content: center;
}

.tomatilloLogo {
  width: 6rem;
  object-fit: cover;
}
