
@import '../styles/base';

body {
  background-color: $black;
  color: $white;
  font-family: $raleway-font;
  overflow-x: hidden;
}

header {
  @include flexDisplay(flex, center);
  background-color: $black;
  height: 300px;
}

.mainDisplayContainer {
  width: 100%;
}

.mainPageContainer,
.movieDisplayContainer {
  display: flex;
}

.subHeadingText {
  margin-left: 1rem;
}
